.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 20px;
    color: white;
    text-decoration: none;
}

.messages {
    padding: 20px;
}

.messageItems {
    color: white;
}


