.nav {
    grid-area: n;
    background-color: darkslateblue;
    padding: 20px;
}

.item {
    text-decoration: none;
    color: white;
}

.active {
    text-decoration: none;
    color: silver;
}

.friendsAvatars {
    height: 50px;
    border-radius: 10px;
    padding: 15px 20px 0px 0px;
}

.friendsNames {
    text-decoration: none;
    color: white;
    padding: 15px 20px 0px 0px;
}